
#blog-posts {
  max-width: 800px;
  margin: 0 auto;
}
#blog-posts h3 {
  text-align: center;
  color: #333;
}
#posts-list {
  list-style-type: none;
  padding: 0;
}
#posts-list li {
  background: #E4EAEF;
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#posts-list li img {
  width: 100%;
  height: auto;
  border-radius: 30px 30px 0 0;
}
#posts-list li div {
  padding: 15px;
}
#posts-list li a {
  text-decoration: none;
  color: #007BFF;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin: 10px 0;
}
#posts-list li p {
  color: #555;
  margin: 10px 0 0;
}
